#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.home-page{
  background-color: rgb(208, 255, 0);
  background-size: 130% !important;
  padding: 3vh;
  /* background-image: url('./assets/bg3.jpg'); */
  background-size: 120% !important;
  background-position: 100% 0%;
}

.home-background {
  background-image: url("https://images-ext-1.discordapp.net/external/FmFueElYbNaXHjIKTn2zwqGzdwqN3oHTWcoaKD2e9Qk/https/i.imgur.com/6ePYJZy.jpg?width=1065&height=702");
  background-size: cover;
  background-position: center;
}

.blue {
  color: rgb(140, 140, 224);
}

.home-img{
  max-width: 20vw;
  border: 2px solid orange;
  margin-bottom: 2vh;
}

.home{
  padding-top: 10vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#log-in-div{
  display: flex;
  justify-content: center;
}

.panel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid black;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(132, 159, 200);
  width: 100%;
}

.number {
  width: 10vw;
}

.services-main {
  font-size: 20px;
}

.checklist {
  list-style-type: none;
}

.checklist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checklist-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-left: 10px;
  cursor: pointer;
}

.checklist-item input[type="checkbox"]:checked {
  background-color: #747474;
}