#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #C4C7AB !important;
}
body {
  background-color: #C4C7AB !important;
}

h1 {
  color:#48555B !important;
}

h3 {
    color: #7B9E87 !important;
}

h2, h4 {
  color: #E5C1BD !important;
}

button {
  border: none !important;
}

td, th {
  background-color: #B6BE9C !important;
  border:1px solid #D2D0BA !important;
  color:#5E747F !important;
}



a {
  text-decoration: none !important;
  color: #48555B !important;
}
a:hover {
  color:#747474 !important;
}

a.active {
  background-color: #E5C1BD !important;
}

.btn-primary {
  background-color:#5E747F !important;
  color:#E5C1BD !important;
  border: none !important;
}

.btn-secondary {
  background-color:#5E747F !important;
  color:#D2D0BA !important;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #E5C1BD !important;
  color: #48555B !important;
  border: 1px solid #5E747F !important;
}

.nav-link {
  color: #5E747F !important;
}
.nav-link:hover {
  color:#48555B !important;
}

.dash-item {
  background-color: #B6BE9C !important;
}

.container {
  color: #747474 !important;
}

.home-page{
  /* background-color: #C4C7AB; */
  background-size: 130% !important;
  padding: 3vh;
  /* background-image: url('./assets/bg3.jpg'); */
  background-size: 120% !important;
  background-position: 100% 0%;
  background-color: #D2D0BA !important;
}

.home-background {
  /* background-image: url("https://images-ext-1.discordapp.net/external/FmFueElYbNaXHjIKTn2zwqGzdwqN3oHTWcoaKD2e9Qk/https/i.imgur.com/6ePYJZy.jpg?width=1065&height=702"); */
  background-image: url('./assets/bg4.jpg');
  background-size: 50vw !important;
  background-color: rgba(248,249,254,255) !important;
  background-position: right;
  background-repeat: no-repeat;
}

.intro {
  background-color: #00000040;
}

.highlight {
  color: #7B9E87;
}

.highlight2 {
  color:#48555B !important;

}

.home-img{
  max-width: 20vw;
  border: 3px solid #E5C1BD;
  margin-bottom: 2vh;
}

.home{
  padding-top: 10vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card {
  background-color:#B6BE9C !important;
  color:#5E747F !important;
  border: 2px solid #7B9E87 !important;
}

#log-in-div{
  display: flex;
  justify-content: center;
}

.panel{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
  border-left: 1px solid black;
}

.panel-profile{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border-left: 1px solid black; */
}

.steps-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(132, 159, 200);
  width: 100%;
}

.number {
  width: 6vw;
  filter: invert(55%) sepia(0%) saturate(1%) hue-rotate(149deg) brightness(106%) contrast(101%);
  transition: width 0.5s ease;

}

.number.clicked {
  width:9vw;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(149deg) brightness(106%) contrast(101%);
  transition: width 0.5s ease;
}

.services-main {
  font-size: 20px;;
  /* border-radius: 7px; */
  box-shadow: 0vw 1vw 2vw 1vw rgba(0, 0, 0, 0.318)
}

.diet-checklist-form {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dietary-plan label {
  order: 1;
  margin-left: 0.5rem;
}

.dietary-plan input[type="radio"] {
  order: 2;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-left: 10px;
  cursor: pointer;
}

.services-main {
  background-color: #D2D0BA;
}

.dietary-plan input[type="radio"]:checked {
  background-color: #747474;
}

.diet-checklist {
  list-style-type: none;
}

.dietary-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.238);
}

.dietary-choice input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #5E747F;
  margin-left: 10px;
  cursor: pointer;
}

.dietary-choice input[type="radio"]:checked {
  background-color: #E5C1BD;

}

.dietary-choice span:checked {
  font-size: xx-large;

}

.meal-card-container {
  display: flex !important;
  flex-direction: row !important;
} 


Button.add-meal {
  width: 80%;
}


button:hover {
  background-color: #E5C1BD !important;
  color: #48555B !important;
}

label:active {
    background-color:#7B9E87 !important;
}



@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.unique-form-control.is-valid,
.unique-form-control:valid {
  background-image: none;
}

.dash-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw;
  padding-left: 2vw;
  background-color: white;
  box-shadow: 0vw 1vw 2vw rgba(0, 0, 0, 0.318);
  border-radius: 1vw;
}

.Delivered{
  color: green;
  background-color: rgba(0, 128, 0, 0.217);
  border-radius: 1vw;
}

.Pending{
  color: rgb(255, 183, 0);
  background-color: rgba(229, 255, 0, 0.431);
  border-radius: 1vw;
}

.Canceled{
  color: red;
  background-color: rgba(255, 0, 0, 0.34);
  border-radius: 1vw;
}

.box-shadow{
  box-shadow: 1vw 1vw 3vw 1vw rgba(0, 0, 0, 0.318) !important;
  border-radius: 60% !important;
}

.order-summary{
  width: 34vw !important
}

.frequency-container{
  width: 34vw !important;
}

.num-people{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.num-meals{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1420px) {
  .frequency-container{
    width: 50vw !important
  }
}

@media only screen and (max-width: 991px) {
  .login-button{
    margin: 0 auto;
  }
}

@media only screen and (max-width: 915px) {
  .frequency-container{
    width: 100% !important
  }
}

@media only screen and (max-width: 915px) {
  .num-people{
    flex-direction: column !important;
  }
  .num-meals{
    flex-direction: column !important;
  }
}



@media only screen and (max-width: 895px) {
  .order-summary{
    width: 100% !important
  }
  
}
